<!-- start custom footer snippets -->
<style>
  /* Style the images with a border */
  img {
      border: 1px solid black;
  }

  /* Display images in a row */
  .container {
      float: right;
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      align-items: right;
      gap: 0px;
      padding: 20px;
  }
</style>

<div class="container">
  <img src="/images/progress_pride.png" srcset="/images/progress_pride_128.png 128w, /images/progress_pride_64.png 64w" sizes="(max-height: 10vh) 20vw, (max-height: 10vh) 20vw" alt="support LQBGTQIA+" />
  <img src="/images/palestine_flag.png" srcset="/images/palestine_flag_128.png 128w, /images/palestine_flag_64.png 64w" sizes="(max-height: 10vh) 20vw, (max-height: 10vh) 20vw" alt="support Palestine" />
</div>
<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->
