<!-- start custom footer snippets -->
<style>
  /* Style the images with a border */
  img {
      border: 1px solid black;
  }

  /* Display images in a row */
  .container {
      float: right;
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      align-items: right;
      gap: 0px;
      padding: 20px;
  }
</style>

<div class="container">
  <img alt="support LQBGTQIA+" src="/images/progress_pride.png" width="128" height="82" srcset="/images/progress_pride.png 320w" sizes="60vw" />
  <img alt="support Palestine" src="/images/Palestine_flag.png" width="128" height="82" srcset="/images/Palestine_flag.png 320w" sizes="60vw"/>
</div>
<a href="/sitemap/">Sitemap</a>
<!-- end custom footer snippets -->
